
@{
    ViewBag.Title = "about";
    Layout = "~/Views/Shared/_home_layout.cshtml";
    var team = ViewBag.coll as List<sherkaty.Models.tbl_coll>;
}
<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <!-- Page Header Box Start -->
                <div class="page-header-box">
                    <h1 class="text-anime-style-2" data-cursor="-opaque">درباره ما</h1>
                    <nav class="wow fadeInUp">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index">صفحه اصلی</a></li>
                            <li class="breadcrumb-item active" aria-current="page">درباره ما</li>
                        </ol>
                    </nav>
                </div>
                <!-- Page Header Box End -->
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
@Html.Partial("~/Views/component/about_us.cshtml");
<!-- Our Approach Section Start -->
<div class="our-approach">
    <div class="container">
        <div class="row section-row align-items-center">
            <div class="col-lg-6">
                <!-- Section Title Start -->
                <div class="section-title">
                    <h3 class="wow fadeInUp">رویکرد</h3>
                    <h2 class="wow fadeInUp" data-wow-delay="0.2s">
                        <span>
                            استراتژی های سفارشی شده برای
                            مالی
                            موفقیت
                        </span>
                    </h2>
                </div>
                <!-- Section Title End -->
            </div>
            <div class="col-lg-6">
                <!-- Section Btn Start -->
                <div class="section-btn wow fadeInUp" data-wow-delay="0.2s">
                    <a href="contact" class="btn-default">هم اکنون تماس بگیرید.</a>
                </div>
                <!-- Section Btn Start -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <!-- Mission Vision Item Start -->
                <div class="mission-vission-item wow fadeInUp">
                    <!-- Mission Vision Header Start -->
                    <div class="mission-vission-header">
                        <div class="icon-box">
                            <img src="~/styles/home/images/icon-our-mission.svg" alt="">
                        </div>

                        <div class="mission-vission-content">
                            <h3>ماموریت ما</h3>
                            <p>توانمندسازی مشتریان با استراتژی های مالی مناسب برای رشد پایدار.</p>
                        </div>
                    </div>
                    <!-- Mission Vision Header End -->
                    <!-- Mission Vision Image Start -->
                    <div class="mission-vission-image">
                        <figure class="image-anime">
                            <img src="~/styles/home/images/our-mission-img.jpg" alt="">
                        </figure>
                    </div>
                    <!-- Mission Vision Image End -->
                </div>
                <!-- Mission Vision Item End -->
            </div>

            <div class="col-lg-4 col-md-6">
                <!-- Mission Vision Item Start -->
                <div class="mission-vission-item wow fadeInUp" data-wow-delay="0.2s">
                    <!-- Mission Vision Header Start -->
                    <div class="mission-vission-header">
                        <div class="icon-box">
                            <img src="~/styles/home/images/icon-our-vision.svg" alt="">
                        </div>

                        <div class="mission-vission-content">
                            <h3>چشم انداز ما</h3>
                            <p>توانمندسازی مشتریان با استراتژی‌های مالی مناسب برای رشد پایدار.</p>
                        </div>
                    </div>
                    <!-- Mission Vision Header End -->
                    <!-- Mission Vision Image Start -->
                    <div class="mission-vission-image">
                        <figure class="image-anime">
                            <img src="~/styles/home/images/our-vision-img.jpg" alt="">
                        </figure>
                    </div>
                    <!-- Mission Vision Image End -->
                </div>
                <!-- Mission Vision Item End -->
            </div>

            <div class="col-lg-4 col-md-6">
                <!-- Mission Vision Item Start -->
                <div class="mission-vission-item wow fadeInUp" data-wow-delay="0.4s">
                    <!-- Mission Vision Header Start -->
                    <div class="mission-vission-header">
                        <div class="icon-box">
                            <img src="~/styles/home/images/icon-our-value.svg" alt="">
                        </div>

                        <div class="mission-vission-content">
                            <h3>ارزش ما</h3>
                            <p>توانمندسازی مشتریان با استراتژی‌های مالی مناسب برای رشد پایدار.</p>
                        </div>
                    </div>
                    <!-- Mission Vision Header End -->
                    <!-- Mission Vision Image Start -->
                    <div class="mission-vission-image">
                        <figure class="image-anime">
                            <img src="~/styles/home/images/our-value-img.jpg" alt="">
                        </figure>
                    </div>
                    <!-- Mission Vision Image End -->
                </div>
                <!-- Mission Vision Item End -->
            </div>
        </div>
    </div>
</div>
<!-- Our Approach Section End -->
@Html.Partial("~/Views/component/why_choose_us.cshtml");
<!-- Our Feature Section Stat -->
<div class="our-feature">
    <div class="container">
        <div class="row section-row align-items-center">
            <div class="col-lg-6">
                <!-- Section Title Start -->
                <div class="section-title dark-section">
                    <h3 class="wow fadeInUp">ویژگی ما</h3>
                    <h2 class="text-anime-style-2" data-cursor="-opaque">
                        ویژگی های کلیدی امور مالی ما و<span>
                            مشاوره
                        </span>
                    </h2>
                </div>
                <!-- Section Title End -->
            </div>

            <div class="col-lg-6">
                <!-- Section Button Start -->
                <div class="section-btn wow fadeInUp" data-wow-delay="0.2s">
                    <a href="contact" class="btn-default">هم اکنون تماس بگیرید.</a>
                </div>
                <!-- Section Button End -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Our Feature List Start -->
                <div class="our-feature-list">
                    <!-- Feature Item Start -->
                    <div class="our-feature-item wow fadeInUp">
                        <div class="icon-box">
                            <img src="~/styles/home/images/icon-our-feature-1.svg" alt="">
                        </div>
                        <div class="feature-item-content">
                            <h3>راه حل های مالی</h3>
                            <p>
                                راه‌حل‌های مالی ما استراتژی‌های متناسب و متناسب با اهداف منحصر به فرد شما را ارائه
                                می‌دهند و مدیریت ریسک.
                            </p>
                        </div>
                    </div>
                    <!-- Feature Item End -->
                    <!-- Feature Item Start -->
                    <div class="our-feature-item wow fadeInUp" data-wow-delay="0.2s">
                        <div class="icon-box">
                            <img src="~/styles/home/images/icon-our-feature-2.svg" alt="">
                        </div>
                        <div class="feature-item-content">
                            <h3> مدیریت ثروت</h3>
                            <p>
                                راه‌حل‌های مالی ما استراتژی‌های متناسب و متناسب با اهداف منحصر به فرد شما را ارائه
                                می‌دهند و مدیریت ریسک.
                            </p>
                        </div>
                    </div>
                    <!-- Feature Item End -->
                    <!-- Feature Item Start -->
                    <div class="our-feature-item wow fadeInUp" data-wow-delay="0.4s">
                        <div class="icon-box">
                            <img src="~/styles/home/images/icon-our-feature-3.svg" alt="">
                        </div>
                        <div class="feature-item-content">
                            <h3>تحلیل بازار</h3>
                            <p>
                                راه‌حل‌های مالی ما استراتژی‌های متناسب و متناسب با اهداف منحصر به فرد شما را ارائه
                                می‌دهند و مدیریت ریسک.
                            </p>
                        </div>
                    </div>
                    <!-- Feature Item End -->
                    <!-- Feature Item Start -->
                    <div class="our-feature-item wow fadeInUp" data-wow-delay="0.6s">
                        <div class="icon-box">
                            <img src="~/styles/home/images/icon-our-feature-4.svg" alt="">
                        </div>
                        <div class="feature-item-content">
                            <h3> مدیریت ریسک</h3>
                            <p>
                                راه‌حل‌های مالی ما استراتژی‌های متناسب و متناسب با اهداف منحصر به فرد شما را ارائه
                                می‌دهند و مدیریت ریسک.
                            </p>
                        </div>
                    </div>
                    <!-- Feature Item End -->
                    <!-- Feature Item Start -->
                    <div class="our-feature-item wow fadeInUp" data-wow-delay="0.8s">
                        <div class="icon-box">
                            <img src="~/styles/home/images/icon-our-feature-5.svg" alt="">
                        </div>
                        <div class="feature-item-content">
                            <h3>راهبردهای کارایی مالیاتی</h3>
                            <p>
                                راه‌حل‌های مالی ما استراتژی‌های متناسب و متناسب با اهداف منحصر به فرد شما را ارائه
                                می‌دهند و مدیریت ریسک.
                            </p>
                        </div>
                    </div>
                    <!-- Feature Item End -->
                    <!-- Feature Item Start -->
                    <div class="our-feature-item wow fadeInUp" data-wow-delay="1s">
                        <div class="icon-box">
                            <img src="~/styles/home/images/icon-our-feature-6.svg" alt="">
                        </div>
                        <div class="feature-item-content">
                            <h3>مشاوره کسب و کار استراتژیک</h3>
                            <p>
                                راه‌حل‌های مالی ما استراتژی‌های متناسب و متناسب با اهداف منحصر به فرد شما را ارائه
                                می‌دهند و مدیریت ریسک.
                            </p>
                        </div>
                    </div>
                    <!-- Feature Item End -->
                </div>
                <!-- Our Feature List End -->
            </div>
        </div>
    </div>
</div>
<!-- Our Feature Section End -->
<!-- Our Benefit Section Start -->
<div class="our-benefit">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <!-- Our Benefit Content Start -->
                <div class="our-benefit-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">مزایای ما</h3>
                        <h2 class="text-anime-style-2" data-cursor="-opaque">
                            کارشناس به حداکثر رساندن ارزش <span>
                                راه حل های مالی
                            </span>
                        </h2>
                        <p class="wow fadeInUp" data-wow-delay="0.2s">
                            باز کردن فرصت‌های رشد با استراتژی‌های مالی
                            مناسب برای حداکثر ارزش و موفقیت بلندمدت.
                        </p>
                    </div>
                    <!-- Section Title End -->
                    <!-- Our Benefit Button Start -->
                    <div class="our-benefit-btn wow fadeInUp" data-wow-delay="0.4s">
                        <a href="contact" class="btn-default">شروع کن</a>
                    </div>
                    <!-- Our Benefit Button End -->

                    <div class="our-benefit-img">
                        <figure class="image-anime reveal">
                            <img src="~/styles/home/images/our-benefit-img.jpg" alt="">
                        </figure>
                    </div>
                </div>
                <!-- Our Benefit Content End -->
            </div>

            <div class="col-lg-6">
                <!-- Our Benefit Box Start -->
                <div class="our-benefit-box">
                    <!-- Our Benefit List Start -->
                    <div class="our-benefit-list">
                        <!-- Our Benefit Item Start -->
                        <div class="our-benefit-item wow fadeInUp">
                            <div class="icon-box">
                                <img src="~/styles/home/images/icon-our-benefit-1.svg" alt="">
                            </div>
                            <div class="benefit-item-content">
                                <h3>راهنمای تخصصی</h3>
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است.
                                </p>
                            </div>
                        </div>
                        <!-- Our Benefit Item End -->
                        <!-- Our Benefit Item Start -->
                        <div class="our-benefit-item wow fadeInUp" data-wow-delay="0.2s">
                            <div class="icon-box">
                                <img src="~/styles/home/images/icon-our-benefit-2.svg" alt="">
                            </div>
                            <div class="benefit-item-content">
                                <h3> مدیریت ریسک</h3>
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است.
                                </p>
                            </div>
                        </div>
                        <!-- Our Benefit Item End -->
                        <!-- Our Benefit Item Start -->
                        <div class="our-benefit-item wow fadeInUp" data-wow-delay="0.4s">
                            <div class="icon-box">
                                <img src="~/styles/home/images/icon-our-benefit-3.svg" alt="">
                            </div>
                            <div class="benefit-item-content">
                                <h3>رشد بلند مدت</h3>
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است.
                                </p>
                            </div>
                        </div>
                        <!-- Our Benefit Item End -->
                        <!-- Our Benefit Item Start -->
                        <div class="our-benefit-item wow fadeInUp" data-wow-delay="0.6s">
                            <div class="icon-box">
                                <img src="~/styles/home/images/icon-our-benefit-4.svg" alt="">
                            </div>
                            <div class="benefit-item-content">
                                <h3>بازده زمانی</h3>
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است.
                                </p>
                            </div>
                        </div>
                        <!-- Our Benefit Item End -->
                    </div>
                    <!-- Our Benefit List End -->
                </div>
                <!-- Our Benefit Box End -->
            </div>
        </div>
    </div>
</div>
<!-- Our Benefit Section End -->
@Html.Partial("~/Views/component/What_We_do.cshtml");

@Html.Partial("~/Views/component/How_It_Work.cshtml");

<!-- Our Team Section Start -->
<div class="our-team">
    <div class="container">
        <div class="row section-row align-items-center">
            <div class="col-lg-6">
                <!-- Section Title Start -->
                <div class="section-title">
                    <h3 class="wow fadeInUp">اعضای تیم</h3>
                    <h2 class="text-anime-style-2" data-cursor="-opaque">
                        حرفه ای ها، <span>
                            مشاوران مالی قابل
                            اعتماد
                        </span>
                    </h2>
                </div>
                <!-- Section Title End -->
            </div>

            <div class="col-lg-6">
                <!-- Section Btn Start -->
                <div class="section-btn wow fadeInUp" data-wow-delay="0.2s">
                    <a href="team" class="btn-default">تمام اعضا</a>
                </div>
                <!-- Section Btn Start -->
            </div>
        </div>

        <div class="row">
            @foreach(var member in team) {
            <div class="col-lg-4 col-md-6">
                <!-- Team Member Item Start -->
                <div class="team-member-item wow fadeInUp">
                    <!-- Team Image Start -->
                    <div class="team-image">
                        <a href="@Url.Action("team_single", "Home", new { id = member.coid })" data-cursor-text="نمایش">
                            <figure class="image-anime">
                                <img src="@Url.Content("~/styles/home/images/" + member.coimgpth)" alt="">
                            </figure>
                        </a>
                    </div>
                    <!-- Team Image End -->
                    <!-- Team Body Start -->
                    <div class="team-body">
                        <!-- Team Content Start -->
                        <div class="team-content">
                            <h3><a href="@Url.Action("team_single", "Home", new { id = member.coid })">
                                @member.coname @member.cofamily</a></h3>

                            <p>@member.coposition</p>
                        </div>
                        <!-- Team Content End -->

                    </div>
                    <!-- Team Body End -->
                </div>
                <!-- Team Member Item End -->
            </div>
            }


        </div>
    </div>
</div>
<!-- Our Team Section End -->

@Html.Partial("~/Views/component/FAQsco.cshtml");
