@{
    Layout = "~/Views/Shared/_home_layout.cshtml";
    var service = ViewBag.service as List<sherkaty.Models.tbl_service>;
}



<!-- Hero Section Start -->
<div class="hero">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <!-- Hero Content Start -->
                <div class="hero-content">
                    <!-- Section Title Start -->
                    <div class="section-title dark-section">
                        <h3 class="wow fadeInUp">به بخش مالی خوش آمدید</h3>
                        <h1 class="text-anime-style-2" data-cursor="-opaque">
                            <span>توانمندسازی</span> شما در عرصه
                            مالی
                        </h1>
                        <p class="wow fadeInUp" data-wow-delay="0.2s">
                            شما را با بینش های متخصص و راه حل های
                            استراتژیک برای دستیابی به رشد مالی، ثبات و موفقیت بلندمدت راهنمایی می کند.
                        </p>
                    </div>
                    <!-- Section Title End -->
                    <!-- Hero Content Body Start -->
                    <div class="hero-content-body wow fadeInUp" data-wow-delay="0.4s">
                        <!-- Hero Button Start -->
                        <div class="hero-btn">
                            <a href="contact" class="btn-default">شروع کن</a>
                        </div>
                        <!-- Hero Button End -->
                        <!-- Hero Introduction Video Start -->
                        <div class="hero-introduction-video">
                            <!-- Video Play Button Start -->
                            <div class="video-play-button">
                                <a href="~/styles/home/video/fintech-video.mp4" class="popup-video" data-cursor-text="پخش">
                                    <img src="~/styles/home/images/icon-play.svg" alt="">
                                </a>
                                <p>مقدمه</p>
                            </div>
                            <!-- Video Play Button End -->
                        </div>
                        <!-- Hero Introduction Video End -->
                    </div>
                    <!-- Hero Content Body End -->

                </div>
                <!-- Hero Content End -->
            </div>

            <div class="col-lg-6">
                <!-- Hero Image Start -->
                <div class="hero-image">
                    <!-- Hero Img Start -->
                    <div class="hero-img">
                        <figure>
                            <img src="~/styles/home/images/hero-img.png" alt="">
                        </figure>
                    </div>
                    <!-- Hero Img End -->
                    <!-- Company Experience Box Start -->
                    <div class="company-experience">
                        <h3><span class="counter">25</span>+</h3>
                        <p>سالها تجربه در امور مالی</p>
                    </div>
                    <!-- Company Experience Box End -->
                </div>
                <!-- Hero Image End -->
            </div>
        </div>
    </div>
</div>
<!-- Hero Section End -->
@Html.Partial("~/Views/component/about_us.cshtml");
<!-- Our Services Section Start -->
<div class="our-services">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <!-- Service Content Start -->
                <div class="our-service-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">خدمات</h3>
                        <h2 class="text-anime-style-2" data-cursor="-opaque">
                            کارشناس امور مالی و خدمات مشاوره
                            <span>برای موفقیت</span>
                        </h2>
                    </div>
                    <!-- Section Title End -->
                    <!-- Section content Button Start -->
                    <div class="service-content-btn wow fadeInUp" data-wow-delay="0.25s">
                        <a href="services" class="btn-default">دیگر خدمات</a>
                    </div>
                    <!-- Section content Button End -->
                </div>
                <!-- Service Content End -->
            </div>

            <div class="col-lg-8">
                <!-- Our Service List Start -->
                <div class="our-service-list">
                    <!-- Service Item Start -->
                    @foreach (var ser in service)
                    {
                        <div class="service-item">

                            <div class="service-content-box">
                                <div class="icon-box">
                                    <img src="~/styles/home/images/icon-service-1.svg" alt="">
                                </div>

                                <div class="service-item-content">
                                    <h3>@ser.smtitle</h3>
                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.
                                    </p>
                                    <a href="service_single" class="service-btn">
                                        <img src="~/styles/home/images/arrow-white.svg"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Service Item End -->
                    }
                    </div>
                <!-- Our Service List End -->

            </div>
        </div>
    </div>
</div>
<!-- Our Services Section End -->
@Html.Partial("~/Views/component/why_choose_us.cshtml");
<!-- Our Feature Section Stat -->
<div class="our-feature">
    <div class="container">
        <div class="row section-row align-items-center">
            <div class="col-lg-6">
                <!-- Section Title Start -->
                <div class="section-title dark-section">
                    <h3 class="wow fadeInUp">ویژگی ما</h3>
                    <h2 class="text-anime-style-2" data-cursor="-opaque">
                        ویژگی های کلیدی امور مالی ما و<span>
                            مشاوره
                        </span>
                    </h2>
                </div>
                <!-- Section Title End -->
            </div>

            <div class="col-lg-6">
                <!-- Section Button Start -->
                <div class="section-btn wow fadeInUp" data-wow-delay="0.2s">
                    <a href="contact" class="btn-default">هم اکنون تماس بگیرید.</a>
                </div>
                <!-- Section Button End -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <!-- Our Feature List Start -->
                <div class="our-feature-list">
                    <!-- Feature Item Start -->
                    <div class="our-feature-item wow fadeInUp">
                        <div class="icon-box">
                            <img src="~/styles/home/images/icon-our-feature-1.svg" alt="">
                        </div>
                        <div class="feature-item-content">
                            <h3>راه حل های مالی</h3>
                            <p>
                                راه‌حل‌های مالی ما استراتژی‌های متناسب و متناسب با اهداف منحصر به فرد شما را ارائه
                                می‌دهند و مدیریت ریسک.
                            </p>
                        </div>
                    </div>
                    <!-- Feature Item End -->
                    <!-- Feature Item Start -->
                    <div class="our-feature-item wow fadeInUp" data-wow-delay="0.2s">
                        <div class="icon-box">
                            <img src="~/styles/home/images/icon-our-feature-2.svg" alt="">
                        </div>
                        <div class="feature-item-content">
                            <h3> مدیریت ثروت</h3>
                            <p>
                                راه‌حل‌های مالی ما استراتژی‌های متناسب و متناسب با اهداف منحصر به فرد شما را ارائه
                                می‌دهند و مدیریت ریسک.
                            </p>
                        </div>
                    </div>
                    <!-- Feature Item End -->
                    <!-- Feature Item Start -->
                    <div class="our-feature-item wow fadeInUp" data-wow-delay="0.4s">
                        <div class="icon-box">
                            <img src="~/styles/home/images/icon-our-feature-3.svg" alt="">
                        </div>
                        <div class="feature-item-content">
                            <h3>تحلیل بازار</h3>
                            <p>
                                راه‌حل‌های مالی ما استراتژی‌های متناسب و متناسب با اهداف منحصر به فرد شما را ارائه
                                می‌دهند و مدیریت ریسک.
                            </p>
                        </div>
                    </div>
                    <!-- Feature Item End -->
                    <!-- Feature Item Start -->
                    <div class="our-feature-item wow fadeInUp" data-wow-delay="0.6s">
                        <div class="icon-box">
                            <img src="~/styles/home/images/icon-our-feature-4.svg" alt="">
                        </div>
                        <div class="feature-item-content">
                            <h3> مدیریت ریسک</h3>
                            <p>
                                راه‌حل‌های مالی ما استراتژی‌های متناسب و متناسب با اهداف منحصر به فرد شما را ارائه
                                می‌دهند و مدیریت ریسک.
                            </p>
                        </div>
                    </div>
                    <!-- Feature Item End -->
                    <!-- Feature Item Start -->
                    <div class="our-feature-item wow fadeInUp" data-wow-delay="0.8s">
                        <div class="icon-box">
                            <img src="~/styles/home/images/icon-our-feature-5.svg" alt="">
                        </div>
                        <div class="feature-item-content">
                            <h3>راهبردهای کارایی مالیاتی</h3>
                            <p>
                                راه‌حل‌های مالی ما استراتژی‌های متناسب و متناسب با اهداف منحصر به فرد شما را ارائه
                                می‌دهند و مدیریت ریسک.
                            </p>
                        </div>
                    </div>
                    <!-- Feature Item End -->
                    <!-- Feature Item Start -->
                    <div class="our-feature-item wow fadeInUp" data-wow-delay="1s">
                        <div class="icon-box">
                            <img src="~/styles/home/images/icon-our-feature-6.svg" alt="">
                        </div>
                        <div class="feature-item-content">
                            <h3>مشاوره کسب و کار استراتژیک</h3>
                            <p>
                                راه‌حل‌های مالی ما استراتژی‌های متناسب و متناسب با اهداف منحصر به فرد شما را ارائه
                                می‌دهند و مدیریت ریسک.
                            </p>
                        </div>
                    </div>
                    <!-- Feature Item End -->
                </div>
                <!-- Our Feature List End -->
            </div>
        </div>
    </div>
</div>
<!-- Our Feature Section End -->
<!-- Some Fact Section Start -->
<div class="fact-counter">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <!-- Fact Counter Image Start -->
                <div class="fact-counter-image">
                    <!-- Fact Counter img Start -->
                    <div class="fact-counter-img">
                        <figure class="image-anime reveal">
                            <img src="~/styles/home/images/fact-counter-img.jpg" alt="">
                        </figure>
                    </div>
                    <!-- Fact Counter img End -->
                </div>
                <!-- Fact Counter Image End -->
            </div>

            <div class="col-lg-6">
                <!-- Fact Counter Content Start -->
                <div class="fact-counter-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">برخی حقایق</h3>
                        <h2 class="text-anime-style-2" data-cursor="-opaque"> حقایق کلیدی <span>تخصص</span> </h2>
                        <p class="wow fadeInUp" data-wow-delay="0.2s">
                            تخصص ما بر اساس سالها صنعت است
                            تجربه، استراتژی های مالی اثبات شده و تعهد به موفقیت مشتری.
                        </p>
                    </div>
                    <!-- Section Title End -->
                    <!-- Fact Counter Box List Start -->
                    <div class="fact-counter-box-list">
                        <!-- Fact Counter Box Start -->
                        <div class="fact-counter-box">
                            <div class="icon-box">
                                <img src="~/styles/home/images/icon-fact-counter-1.svg" alt="">
                            </div>

                            <div class="fact-counter-box-content">
                                <h2><span class="counter">25</span>+</h2>
                                <p>سالها تجربه</p>
                            </div>
                        </div>
                        <!-- Fact Counter Box End -->
                        <!-- Fact Counter Box Start -->
                        <div class="fact-counter-box">
                            <div class="icon-box">
                                <img src="~/styles/home/images/icon-fact-counter-2.svg" alt="">
                            </div>

                            <div class="fact-counter-box-content">
                                <h2><span class="counter">80</span>%+</h2>
                                <p>نرخ موفقیت مشتری</p>
                            </div>
                        </div>
                        <!-- Fact Counter Box End -->
                        <!-- Fact Counter Box Start -->
                        <div class="fact-counter-box">
                            <div class="icon-box">
                                <img src="~/styles/home/images/icon-fact-counter-3.svg" alt="">
                            </div>

                            <div class="fact-counter-box-content">
                                <h2><span class="counter">20</span>+</h2>
                                <p>تحقیقات جهانی</p>
                            </div>
                        </div>
                        <!-- Fact Counter Box End -->
                    </div>
                    <!-- Fact Counter Box List End -->
                    <!-- Fact Counter List Start -->
                    <div class="fact-counter-list wow fadeInUp" data-wow-delay="0.4s">
                        <ul>
                            <li>برنامه ریزی استراتژیک مالی</li>
                            <li>مشاوره تخصصی سرمایه گذاری</li>
                        </ul>
                    </div>
                    <!-- Fact Counter List End -->
                </div>
                <!-- Fact Counter Content End -->
            </div>
        </div>
    </div>
</div>
<!-- Some Fact Section End -->
@Html.Partial("~/Views/component/what_we_do.cshtml");



@Html.Partial("~/Views/component/How_It_Work.cshtml");


@Html.Partial("~/Views/component/FAQsco.cshtml");
<!-- Our Blog Section Start -->
<div class="our-blog">
    <div class="container">
        <div class="row section-row">
            <div class="col-lg-6">
                <!-- Section Title Start -->
                <div class="section-title">
                    <h3 class="wow fadeInUp">وبلاگ / پست</h3>
                    <h2 class="text-anime-style-2" data-cursor="-opaque">
                        بینش های مالی، به روز رسانی <span>
                            و
                            روندها
                        </span>
                    </h2>
                </div>
                <!-- Section Title End -->
            </div>

            <div class="col-lg-6">
                <!-- Section Button Start -->
                <div class="section-btn wow fadeInUp" data-wow-delay="0.2s">
                    <a href="blog" class="btn-default">مشاهده همه پست ها</a>
                </div>
                <!-- Section Button End -->
            </div>
        </div>

        <div class="row">
            @foreach (var a in ViewBag.blog)
            {
                <div class="col-md-6">
                    <!-- Post Item Start -->

                    <div class="post-item wow fadeInUp">
                        <!-- Post Featured Image Start-->
                        <div class="post-featured-image">
                            <a href="@Url.Action("blog_single", "Home", new { id = a.bid })" data-cursor-text="نمایش">
                                <figure class="image-anime">
                                    <img src="~/styles/home/images/post-1.jpg" alt="">
                                </figure>
                            </a>
                        </div>
                        <!-- Post Featured Image End -->
                        <!-- Post Item Body Start -->
                        <div class="post-item-body">
                            <!-- Post Item Tag Start -->
                            <div class="post-item-meta">
                                <ul>
                                    <li><i class="fa-solid fa-calendar-days"></i>@a.dateday @a.datemon   @a.dateye</li>
                                </ul>
                            </div>
                            <!-- Post Item Tag End -->
                            <!-- Post Item Content Start -->
                            <div class="post-item-content">
                                <h2>
                                    <a href="@Url.Action("blog_single", "Home", new { id = a.bid })">
                                        @a.btitle
                                    </a>
                                </h2>
                            </div>
                            <!-- Post Item Content End -->
                            <!-- Post Item Readmore Button Start-->
                            <div class="post-item-btn">
                                <a href="@Url.Action("blog_single", "Home", new { id = a.bid })" class="readmore-btn">بیشتر بخوانید</a>
                            </div>
                            <!-- Post Item Readmore Button End-->
                        </div>
                        <!-- Post Item Body End -->
                    </div>
               
                    <!-- Post Item End -->
                </div>
            }

            </div>
        </div>
    </div>
</div>
<!-- Our Blog Section End  -->