@model sherkaty.Models.tbl_coll
@{
    ViewBag.Title = "team_single";
    Layout = "~/Views/Shared/_home_layout.cshtml";
}

<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <!-- Page Header Box Start -->
                <div class="page-header-box">
                    <h1 class="text-anime-style-2" data-cursor="-opaque">@Model.coname @Model.cofamily</h1>
                    <nav class="wow fadeInUp">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index">صفحه اصلی</a></li>
                            <li class="breadcrumb-item active" aria-current="page">تیم ما</li>
                            <li class="breadcrumb-item active" aria-current="page">@Model.coname @Model.cofamily</li>
                        </ol>
                    </nav>

                </div>
                <!-- Page Header Box End -->
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Page Team Single Start -->
<div class="page-team-single">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <!-- Team Single Sidebar Start -->
                <div class="team-single-sidebar">
                    <!-- Team Single Image Start -->
                    <div class="team-single-img">
                        <figure class="~/styles/home/image-anime reveal">
                            <img src="@Url.Content(string.IsNullOrEmpty(Model.coimgpth) ? "~/styles/home/images/contact.png" : "~/styles/home/images/" + Model.coimgpth)" alt="@Model.coname @Model.cofamily">
                        </figure>
                    </div>
                    <!-- Team Single Image End -->

                </div>
                <!-- Team Single Sidebar End -->
            </div>
            <div class="col-lg-6">
                <!-- Team Single Content Start -->
                <div class="team-single-content">
                    <!-- Team Member Content Start -->
                    <div class="team-member-content">
                        <!-- Team Member Header Start -->
                        <div class="team-member-header">
                            <h3 class="wow fadeInUp">مدیر کسب و کار</h3>
                            <h2 class="text-anime-style-2" data-cursor="-opaque">درباره من</h2>
                            <p class="wow fadeInUp" data-wow-delay="0.2s">
                                @Model.coabout
                            </p>
                        </div>
                        <!-- Team Member Header End -->
                        <!-- Team Member Body Start -->
                        <div class="team-member-body">
                            <!-- Team Member Box Start -->
                            <div class="team-contact-box wow fadeInUp">
                                <div class="icon-box">
                                    <img src="~/styles/home/images/icon-mail.svg" alt="">
                                </div>

                                <div class="team-contact-content">
                                    <p>آدرس ایمیل</p>
                                    <h3>@Model.coemail</h3>
                                </div>
                            </div>
                            <!-- Team Member Box End -->
                            <!-- Team Member Box Start -->
                            <div class="team-contact-box wow fadeInUp" data-wow-delay="0.2s">
                                <div class="icon-box">
                                    <img src="~/styles/home/images/icon-phone.svg" alt="">
                                </div>

                                <div class="team-contact-content">
                                    <p>شماره تماس</p>
                                    <h3>@Model.cophnumber</h3>
                                </div>
                            </div>
                            <!-- Team Member Box End -->
                            <!-- Team Member Box Start -->
                            <div class="team-contact-box wow fadeInUp" data-wow-delay="0.4s">
                                <div class="icon-box">
                                    <img src="~/styles/home/images/icon-experience.svg" alt="">
                                </div>

                                <div class="team-contact-content">
                                    <p>تجربه</p>
                                    <h3>@Model.coexperience</h3>
                                </div>
                            </div>
                            <!-- Team Member Box End -->
                            <!-- Team Member Box Start -->
                            <div class="team-contact-box wow fadeInUp" data-wow-delay="0.6s">
                                <div class="icon-box">
                                    <img src="~/styles/home/images/icon-location.svg" alt="">
                                </div>

                                <div class="team-contact-content">
                                    <p>مکان</p>
                                    <h3>@Model.colocation</h3>
                                </div>
                            </div>
                            <!-- Team Member Box End -->
                        </div>
                        <!-- Team Member Body End -->
                    </div>
                    <!-- Team Member Content End -->
                    <!-- Team Personal Information Start -->
                    <div class="team-personal-info">
                        <h2 class="text-anime-style-2" data-cursor="-opaque">اطلاعات شخصی</h2>
                        <p class="wow fadeInUp">
                                   @Model.coinfo

                    </div>
                    <!-- Team Personal Information End -->
                    <!-- Team Expertise Start -->
                    <div class="team-expertise">
                        <h2 class="text-anime-style-2" data-cursor="-opaque">تخصص من</h2>
                        <p class="wow fadeInUp">
                            @Model.coexpertise
                        </p>

                    </div>
                    <!-- Team Expertise End -->

                </div>
                <!-- Team Single Content End -->
            </div>
        </div>
    </div>
</div>
<!-- Page Team Single End -->
